# General folders
DATA_PATH=TODO       # semicolumn (:) separeted list of folders used to look for data, ordered by lookup priority
RESULTS_FOLDER=TODO  # folders to store experiments results (weights and metrics)

# TensorFlow environment variables
TF_CPP_MIN_LOG_LEVEL="2"
TF_FORCE_GPU_ALLOW_GROWTH="true"

# WandB environemnt variables
WANDB_DIR="${RESULTS_FOLDER}/wandb"
WANDB_DISABLE_CODE="true"
WANDB_SILENT="true"
WANDB_START_METHOD="thread"
