# Distribution / packaging
*.egg-info/
build/
dist/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Unit test / coverage reports
.cache
.ruff_cache
.pytest_cache

# Environments
.env
.venv
env/
venv/

# Checkpoints
*.ipynb_checkpoints
wandb

# Repo specific
notebooks/*
results/
basketball-instants-dataset
ballistic-raw-sequences
*.out
*.log
*.pickle
.vscode
*.mp4
*.db
